<!DOCTYPE html>
<html>
  <head>
    <title>windowpane</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "app" %>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
  </head>

  <body class="container">
    <div class="row">
      <nav class="col-md-7 offset-md-3">
        <ul class="nav justify-content-between">
          <li class="nav-item">
            <%= link_to "windowpane", root_path,
            class: "nav-link" %>
          </li>
          <% if current_user.present? %>
            <li class="nav-item">
              <%= link_to "log out", logout_path,
              method: :delete, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </nav>

      <% unless flash.empty? %>
        <% flash.each do |type, message| %>
          <% alert_type = (type == "alert") ? "danger" : "info" %>
          <div role="alert"
               class="alert alert-<%= alert_type %> col-md-7 offset-md-3">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </body>

</html>
