<!DOCTYPE html>
<html>
  <head>
    <title>windowpane</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "app" %>
    <%= javascript_pack_tag "flash_message" %>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
  </head>

  <body class="container">
    <div class="row">
      <nav class="col-md-7 offset-md-3">
        <ul class="nav justify-content-between">
          <li class="nav-item">
            <%= link_to "windowpane", root_path, class: "nav-link" %>
          </li>

          <% if logged_in? %>
            <li class="nav-item">
              <%= button_to "log out", logout_path,
              { method: :delete,
                class: "remove-button-style",
                form_class: "nav-link"} %>
            </li>
          <% end %>

        </ul>
      </nav>
    </div>

    <div class="row">
      <% unless flash.empty? %>
        <noscript class="col-md-12">
          <div class="col-md-7 offset-md-3">
            <% flash.each do |type, message| %>
              <% alert_type = (type == "alert") ? "danger" : "info" %>
              <div role="alert" class="alert alert-<%= alert_type %>">
                <%= message %>
              </div>
            <% end %>
          </div>
        </noscript>

        <%= content_tag :div,
            role: "alert",
            class: "js-flash-message col-md-7 offset-md-3",
            data: flash.to_a.first.to_json do %>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </body>

</html>
