<!DOCTYPE html>
<html>
  <head>
    <title>windowpane</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "app" %>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
  </head>

  <body class="container">
    <% unless flash.empty? %>
      <% flash.each do |type, message| %>
        <% alert_type = (type == "alert") ? "danger" : "info" %>
        <div class="alert alert-<%= alert_type %>" role="alert">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to "windowpane", root_path,
            class: "nav-link" %>
      </li>
      <% if current_user.present? %>
        <li class="nav-item">
          <!-- Logged in as <%= current_user.email %> -->
          <%= link_to "log out", logout_path,
              method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <br/>

    <%= yield %>
  </body>

</html>
