<!DOCTYPE html>
<html>
  <head>
    <title>windowpane</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <% unless flash.empty? %>
      <div>
        <% flash.each do |type, message| %>
          <li><%= type %> : <%= message %></li>
        <% end %>
      </div>
    <% end %>

    <nav>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <% if current_user.present? %>
        <li>
          Logged in as <%= current_user.email %>
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
        <% end %>
      </ul>
    </nav>

    <noscript>
      <%= yield %>
    </noscript>
  </body>

</html>
